@using WebPractice.Services
@inject IPlayerService PlayerService

<div>

        @Context.Session.Get("playerItems")
        <audio controls>
            <source src="~/MP3Files/@PlayerService.currentSong.FilePath" />
        </audio>

</div>
