@model WebPractice.Data.Entities.Album

<h1>Edit Album</h1>

<form asp-action="Edit" method="post" class="row g-3">
    <div class="col-md-9">
        <div class="col-md-12">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter album name">
            <span asp-validation-for="Name" class="form-text text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Enter album name">
            <span asp-validation-for="Description" class="form-text text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="ImageUrl" class="form-label">Image URL</label>
            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Enter album image URL">
            <span asp-validation-for="ImageUrl" class="form-text text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <img width="210" height="210" src="@(Model.ImageUrl ?? "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png")" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Edit</button>
    </div>
</form>